:root{
    background-color: rgb(18, 18, 18);
    overflow-x: hidden;
}

#root{
    height: 100%;
}

html, body {
    height: 100%;
    margin: 0;
}

.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: auto;
    top: 0%;
}

.terminal{
    flex-direction: column;
    background-color: black;
    border-top: 1px solid black;
    border-bottom-right-radius: 6px;
    border-bottom-left-radius: 6px;
    height: 60vh;
    overflow: scroll;
    overflow-x: hidden;
}

.header{
    border-bottom: 1px solid black;
    height: 4%; 
    background-color: rgb(49, 49, 49); 
    border-top-left-radius: 6px; 
    border-top-right-radius: 6px; 
    justify-content: space-between;
    user-select: none;
}

.window{
    width: 100%;
    display: flex;
}

.animated{
    opacity: 0;
    transform: translate(150%);
    transition: opacity 0.5s, transform 0.5s;
}

.animated.visible{
    opacity: 1;
    transform: translate(0%);
    transition: opacity 1s, transform 1s;
}

#close:hover{
    background-color: rgb(77, 77, 77);
    cursor: pointer;
}

.tag{
    width: 30px;
    height: 80px;
    right: 0;
    background-color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: fixed;
    top: 100px;
    cursor: pointer;
    opacity: 0;
    user-select: none;
    z-index: 1;
}

.text-box{
    position: relative;
}

.side-bar{
    width: 20%;
}

.icon-container{
    position: fixed;
    width: inherit;
    height: 100%;
    background-color: black;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    border-right: 1px solid white;
    overflow-wrap: anywhere;
}

input{
    width: 95%;
    border: none;
    caret-color: white;
    border-radius: 6px;
    background-color: black;
    color: white;
    font-family: "Courier New", Courier, monospace;
    padding: 5px;
}

input:focus{
    outline: black;
}

p{
    color: white;
    font-family: "Courier New", Courier, monospace;
    margin: 0px;
}

a{
    padding: 5px;
    color: white;
    cursor: pointer;
    font-size: 22px;
}

h1{
    color: white;
    font-family: "Cabin Sketch", serif;
}

h4{
    color: white;
    font-family: "Cabin Sketch", serif;
    font-size: 17px;
}

h3{
    color: white;
    font-family: "Cabin Sketch", serif;
    font-size: 25px;  
    text-decoration: underline dashed;
    text-underline-offset: 5px;
}

h2{
    margin-right: 10px;
    text-align: center;
    padding: 7px;
    color: white;
    font-family: "Cabin Sketch", serif;
    transition: 0.2s;
}

h2:hover{
    font-size: 27px;
    background-color: rgba(107, 107, 107, 0.4);
    cursor: pointer;
    margin: 0;
    transition: 0.2s;
}

p{
    color: white;
    font-family: "Cabin Sketch", serif;
    margin-left: 7px;
}

.card{
    margin-bottom: 40px;
    margin-top: 0px;
    border-radius: 15px;
    margin-left: 50px;
    width: 70vw;
    overflow: hidden;
}

.cards-div{
    height: fit-content;
    transition: 0.5s;
}

.tech{
    text-align: center;
    padding: 10px;
    margin: 15px;
    display: inline;
    border-radius: 20px;
    background-color: rgba(84, 84, 84, 0.5);
    cursor: pointer;
    transition: 0.5s;
}

.tech:hover{
    font-size: 20px;
    transition: 0.5s;
    background-color: rgba(84, 84, 84, 0.3);
}

.tech-list{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.row{
    display: flex;
}