:root{
    background-color: rgb(18, 18, 18);
    overflow-x: hidden;
}

body{
    margin: 0;
    height: 100vh;
}

.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: auto;
    top: 0%;
}

.terminal{
    flex-direction: column;
    background-color: black;
    border-top: 1px solid black;
    border-bottom-right-radius: 6px;
    border-bottom-left-radius: 6px;
    height: 60vh;
    overflow: scroll;
    overflow-x: hidden;
    top: 150px;
}

.header{
    border-bottom: 1px solid black;
    top: 120px;
    height: 4%; 
    background-color: rgb(49, 49, 49); 
    border-top-left-radius: 6px; 
    border-top-right-radius: 6px; 
    justify-content: space-between;
    user-select: none;
}

.window{
    width: 70vw;
    display: flex;
    position: absolute;
}

.animated{
    opacity: 0;
    transform: translate(150%);
    transition: opacity 0.5s, transform 0.5s;
}

.animated.visible{
    opacity: 1;
    transform: translate(21%);
    transition: opacity 1s, transform 1s;
}

#close:hover{
    background-color: rgb(77, 77, 77);
    cursor: pointer;
}

.tag{
    width: 30px;
    height: 80px;
    margin-left: auto;
    background-color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    left: 0px;
    top: 100px;
    cursor: pointer;
    opacity: 0;
    user-select: none;
}

.text-box{
    position: relative;
}

input{
    width: 95%;
    border: none;
    caret-color: white;
    border-radius: 6px;
    background-color: black;
    color: white;
    font-family: "Courier New", Courier, monospace;
    padding: 5px;
}

input:focus{
    outline: black;
}

p{
    color: white;
    font-family: "Courier New", Courier, monospace;
    margin: 0px;
}

a{
    padding: 5px;
    color: white;
    cursor: pointer;
    font-size: 22px;
}

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: black;
    border-bottom: 1px solid rgb(42, 42, 42);
    box-shadow: 3px 0px 12px 5px rgb(44, 44, 44);
    font-family: "Cabin Sketch", serif;
    padding: 10px;
    user-select: none;
}

nav h1{
    cursor: pointer;
    font-size: 35px;
    margin: 0;
}

h1{
    color: white;
    font-family: "Cabin Sketch", serif;
}

.projects{
    
}

.card{
    margin-bottom: auto;
    border: 4px solid white;
}